
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

.page-header {
  display: block;
  max-width: 1014px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color:#000000;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
}

.navigation-link.wish {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  color:#ffffff;
}

.main-page {
  background-color: #ffffff;
  color: #000000;
}

.wellcome {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px 485px;
}

.sedona-area {
  display: block;
  margin: auto;
}

.sedona-super-town {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
}

.advantages-header {
  text-align: center;
}

.call-to-action  {
  font-size: 22px;
  line-height: 26px;
}


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----БЛОК ADVANTAGES -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -----*/
.advantages-illustrated {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #82B3D3;
  color:#ffffff;
}

.advantages-list {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color:#000000;
}

.advantages-item {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: calc(100%/3);
  padding: 0;
  height: 384px;
  float: left;
  background-color: #ffffff;
}

.advantages-title {
  text-align: center;
  vertical-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  list-style-type: none;
}

.advantages-description {
  text-align: center;
  vertical-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages.illustrated {
  color:#ffffff;
}

.sedona-town-bridge {
  float: right;
}

/*-------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑------------БЛОК ADVANTAGES ---------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------БЛОК RECOMMENDATIONS ----------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ---------*/
.recommendations {
  clear: both;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  color:#000000;
}

.recommendations-item {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: calc(100%/3);
  margin: 0;
  padding: 0;
  float: left;
}

.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.recommendations-description {
  font-size: 18px;
  line-height: 21px;
}

/*-------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑------------БЛОК RECOMMENDATION --------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------БЛОК Поиска гостиницы в СЕДОНЕ ---------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ---------*/
.hotel-search {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ffffff;
  color:#000000;
}

.hotel-search-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-action {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
}
/*-------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑------------БЛОК Поиска гостиницы в СЕДОНЕ --------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------*/


/*-------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------------БЛОК ПОДПИСКИ в index.html ------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-----------*/
.illustrated-subscription {
  display: block;
  background-image: url("../images/bg-mail-subscription.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px 414.86px;
  text-align: center;
  height: 414px;
}

.subscription {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff ;
}

.subscription-benefit {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscription-button {
  font-size: 20px;
  line-height: 52px;
  font-weight: 700;
  width: 232px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  padding: 0;
  background-color: #82B3D3;
  color: #ffffff ;
}

.field-line {
    line-height: 52px;
    width: 452px;
    font-size: 18px;
    border: 0;
    padding: 0;
    background-color: #F2F2F2;
    padding-left: 20px;
}

/*-----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------------БЛОК ПОДПИСКИ в index.hml -------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------------------*/



/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------F O O T E R------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------------*/
.footer-index {
  max-width: 1200px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ffffff;
  color:#000000;
}

.footer-social {
  margin-left: 70px;
  text-align: left;
  text-decoration: none;
  float: left;
}

.social-network-logo {
  text-decoration: none;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.partner-logo-link {
  text-align: right;
  margin-right: 70px;
  text-decoration: none;
  float: right;
}
/*-----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-------------------F O O T E R------------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------------------*/


/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------К А Т А Л О Г------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------------*/

.breadcrumbs {
  display: block;
  list-style: none;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.inner-header-title {
  text-align: center;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.filter-block {
  display: block;
  background-image: url("../images/bg-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px 412px;
}

  .filters {
    display: block;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

.infrastructure-selection {
  display: inline-block;
  text-align: left;
  float: left;
  width: 150.43px;
  margin-right: 35px;
}

.accomodation-type {
  display: inline-block;
  text-align: left;
  float: left;
  width: auto;
  margin-left: 35px;

}

.price-slider {
  display: inline-block;
  width: 288px;
  margin-left: 140.15px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.submit-reset-buttons {
display: inline-block;
}

.button-submit {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #ffffff;
}

.button-reset {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  color: #ffffff;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.view-options {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.amount-of-hotels {
  display: inline;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-by-type {
  display: inline;
  font-size: 18px;
  margin-left: 220px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.select-control {
  border: 2px;
  border-color: #E5E5E5;
  height: 49px;
  margin-top: 50px;
  margin-bottom: 40px;
}

/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------Пагинация в каталоге------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------------*/
.pagination {
  display: block;
  clear: both;
  list-style: none;
  max-width: 1060px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pagination-item {
  display: inline;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 30px;
  margin: 4px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.pagination-link {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
/*-----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------------Пагинация в каталоге ---------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------------------*/


/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓---------------Подписка в catalog.html без фона--------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓------------------------*/
.subscription-white-background {
  display: block;
  background-size: 1200px 414.86px;
  text-align: center;
  height: 414px;
  background-color: #ffffff;
}

.subscription-white {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000 ;
}

.subscription-benefit-white {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

/*-----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑---------------Подписка в catalog.html без фона--------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑------------------------*/


/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓---------------Карточки отелей catalog.html без фона--------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓------------------------*/
.hotel-list {
  display: block;
  list-style: none;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.hotel-card {
  display: inline;
  width: 340px;
  float: left;
}

.hotel-card-image {
  margin: 20px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-left: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
}

.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  margin-left: 20px;
  margin-right: 20px;
  width: 140px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 20px;
}

.hotel-card-details-button {
  font-size: 16px;
  line-height: 36px;
  width: 140px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  border-radius: 4px;
  margin-left: 20px;
  float: left;
  color: #ffffff;
}

.hotel-card-favourites-button {
  font-size: 16px;
  line-height: 36px;
  width: 140px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #82B3D3;
  border-radius: 4px;
  margin-left: 20px;
  float: left;
  color: #ffffff;
}
