
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  background-color: #ffffff;
  color: #000000;
}

.main-page {
  flex-grow: 1;  /* делаем MAIN жадным через свойство flex-grow; реализуем sticky-footer */
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----БЛОК НАВИГАЦИИ -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -----*/
.page-header {
  display: block;
  width: 1014px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color:#000000;
}

.navigation {
display: flex;
width: 1060px;

}

.logo-link {
width: 138px;
height: 64px;
margin-right: 30px;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  width: 339px;
  height: 64px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

.navigation-user {
  display: flex;
  height: 64px;
  width: 268px;
  margin: 0;
  margin-left: auto;
  align-items: center;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
}

.navigation-link.wish {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 34px;
  background-color: #756157;
  align-items: center;
  color:#ffffff;
}
/*-↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-------------------БЛОК НАВИГАЦИИ ---------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------*/

.main-page {
  background-color: #ffffff;
  color: #000000;
}


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------- HERO БЛОК -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----------*/

.wellcome {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background-image: url("../images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px 485px;
}

.trimming-line {
  display: flex;
  width: 1200px;
  height: 57px;
  background-image: url("../images/trimming-line.svg");
  background-size: 1200px 57px;
  color: #ffffff;
  align-items: flex-end;
  padding: 0;
}


/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ --------- HERO БЛОК ----------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/


.sedona-area {
  display: block;
  margin: auto;
}

.sedona-super-town {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
}

.advantages-header {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 282px;

}

.sedona-super-town {
  margin: auto;

}

.call-to-action  {
  font-size: 22px;
  line-height: 26px;
  margin: auto;
}


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----БЛОК ADVANTAGES -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -----*/



.advantages-illustrated-town {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #82B3D3;
  color: #ffffff;
  align-items: center;
}

.advantages-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
  text-align: center;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 111px;
  margin: 0 auto;

}


.advantages-list {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  color:#000000;
  align-items: center;
}

.advantages-illustrated-bridge {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  color:#ffffff;
  background-color: #82B3D3;
}

.advantages-item {
  text-align: center;
  width: 230px;
  height: 160px;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
}

.advantages-title {
  text-align: center;
  vertical-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  list-style-type: none;
}

.advantages-description {
  text-align: center;
  vertical-align: center;
  font-size: 18px;
  line-height: 21px;
}
/*-↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-------------------БЛОК ADVANTAGES ---------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------БЛОК RECOMMENDATIONS ----------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ---------*/
.recommendations-list {
  display: flex;
  width: 1200px;
  height: 384px;
  margin: 0 auto;
  color:#000000;
  align-items: center;
}

.recommendations-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 85px 81px 85px;
  align-items: center;
}

.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.recommendations-description {
  font-size: 18px;
  line-height: 21px;
}

/*-------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑------------БЛОК RECOMMENDATION --------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------*/


/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------БЛОК Поиска гостиницы в СЕДОНЕ ---------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ---------*/
.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 406px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  color:#000000;
}

.hotel-search-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-action {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
}
/*-------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑------------БЛОК Поиска гостиницы в СЕДОНЕ --------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------*/


/*-------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------------БЛОК ПОДПИСКИ в index.html ------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-----------*/
.illustrated-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 414.86px;
  margin: 0 auto;
  background-image: url("../images/bg-mail-subscription.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px 414.86px;
  text-align: center;

}

.subscription {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff ;

}

.subscription-benefit {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;

}

.subscription-button {
  font-size: 20px;
  line-height: 52px;
  font-weight: 700;
  width: 232px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  padding: 0;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #ffffff ;
}

.field-line {
    line-height: 52px;
    width: 452px;
    font-size: 18px;
    border: 0;
    padding: 0;
    background-color: #F2F2F2;
    padding-left: 20px;
}

.subscription-white-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 414.86px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  text-align: center;
}

.subscription-white {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subscription-benefit-white {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}


/*-----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------------БЛОК ПОДПИСКИ в index.hml -------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------------------*/



/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------F O O T E R------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------------*/
.footer-index {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
  color:#000000;
  align-items: center;
}

.footer-social {
  display: flex;
  width: 142px;
  justify-content: space-between;
  text-decoration: none;
  margin-right: auto;
  align-items: center;
}

.social-network-logo {
  text-decoration: none;
}

.footer-contacts {
  font-size: 40px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.footer-contacts-phone {
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.partner-logo-link {
  text-align: right;
  text-decoration: none;
  margin-left: auto;
}
/*-----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-------------------F O O T E R------------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------------------*/


/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------К А Т А Л О Г------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------------*/

.breadcrumbs {
  display: block;
  list-style: none;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------БЛОК ФИЛЬТРОВ КАТАЛОГА------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------------*/


.filter-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  height: 412px;
  background-image: url("../images/bg-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px 412px;
}

.filters {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  text-align: center;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}





.infrastructure-selection {
  display: inline-block;
  text-align: left;
  float: left;
  width: 150.43px;
  margin-right: 35px;
}

.accomodation-type {
  display: inline-block;
  text-align: left;
  float: left;
  width: auto;
  margin-left: 35px;

}

.price-slider {
  display: inline-block;
  width: 288px;
  margin-left: 140.15px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.submit-reset-buttons {
display: inline-block;
}

.button-submit {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #ffffff;
}

.button-reset {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  color: #ffffff;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.view-options {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.amount-of-hotels {
  display: inline;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-by-type {
  display: inline;
  font-size: 18px;
  margin-left: 220px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.select-control {
  border: 2px;
  border-color: #E5E5E5;
  height: 49px;
  margin-top: 50px;
  margin-bottom: 40px;
}

/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------Пагинация в каталоге------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓--------------------*/
.pagination {
  clear: both;
  display: flex;

  list-style: none;
  max-width: 1060px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pagination-item {
  display: inline;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 30px;
  margin: 4px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.pagination-link {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
/*-----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------------Пагинация в каталоге ---------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------------------*/



/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓---------------Карточки отелей catalog.html без фона--------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓------------------------*/
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.hotel-card {
  display: inline;
  width: 340px;
  float: left;
}

.hotel-card-image {
  margin: 20px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-left: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
}

.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  margin-left: 20px;
  margin-right: 20px;
  width: 140px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 20px;
}

.hotel-card-details-button {
  font-size: 16px;
  line-height: 36px;
  width: 140px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  border-radius: 4px;
  margin-left: 20px;
  float: left;
  color: #ffffff;
}



.hotel-card-favourites-button {
  font-size: 16px;
  line-height: 36px;
  width: 140px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #82B3D3;
  border-radius: 4px;
  margin-left: 20px;
  float: left;
  color: #ffffff;
}

.hotel-list.hotel-card-favourites-button:nth-child(2) {

  background-color: #7DB54F;

}
